[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "probstats4econ"]
	path = probstats4econ
	url = https://github.com/cran/probstats4econ
